$mdc-theme-primary: #DCD7E9;
$mdc-theme-secondary: #281657;
$mdc-theme-on-primary: #281657;
$mdc-theme-on-secondary: #897BAF;

@import "@material/button/mdc-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/toolbar/mdc-toolbar";
@import "@material/card/mdc-card";

.foo-button {
  @include mdc-states(teal);
}

#menudisplay {
  left: 20px;
  top:64px;
}
