$mdc-theme-primary: #DCD7E9;
$mdc-theme-secondary: #281657;
$mdc-theme-on-primary: #281657;
$mdc-theme-on-secondary: #897BAF;

@import "@material/button/mdc-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/toolbar/mdc-toolbar";
@import "@material/card/mdc-card";

.foo-button {
  @include mdc-states(teal);
}

#menudisplay {
  left: 20px;
  top:64px;
}

#logocard {
  height: auto;
  width: auto;
  margin: auto;

}

#topiccards {
  height: 200px;
}

#VisCards {
  height: inherit;
  width: auto;
  min-height: 100%;
}
img {
  display: block;
  margin: 0 auto;
}

.modal {
	display: none;
	position: fixed;
	z-index: 999;
	top: 50%;
	left: 50%;
  transform: translate(-50%,-50%);
	width: 100%;
	height: auto;
	overflow:  auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
	color: #aaa;
  position: relative;
	float: right;
	font-size: 34px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.mdc-card__secondary {
    padding: 0 1rem 8px;
}

.mdc-card__primary {
    padding: 0 1rem 8px;
}

.centertext {
  text-align: center;
}

.centerbutton {
  align-items: center;
}

.mdc-card__secondary img {
  width: 80%;
  height: auto;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}
