$mdc-theme-primary: #DCD7E9;
$mdc-theme-secondary: #281657;
$mdc-theme-on-primary: #281657;
$mdc-theme-on-secondary: #897BAF;

@import "@material/button/mdc-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/toolbar/mdc-toolbar";
@import "@material/card/mdc-card";

.foo-button {
  @include mdc-states(teal);
}

#menudisplay {
  left: 20px;
  top:64px;
}

#logocard {
  height: 160px;
  width: auto;
  margin: auto;

}

#topiccards {
  height: 200px;
}

#VisCards {
  height: 300px;
  width: auto;
}
img {
  display: block;
  margin: 0 auto;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.modal-content {
	background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-container {

}


.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.mdc-card__secondary {
    padding: 0 1rem 8px;
}

.mdc-card__primary {
    padding: 0 1rem 8px;
}

.centertext {
  text-align: center;
}

.centerbutton {
  align-items: center;
}

.mdc-card__secondary img {
  width: 80%;
  height: auto;
}
